doctype html
html(lang='en')
    include includes/header.pug
    body
        .container-fluid
            // Page Heading
            .container-fluid
                .row
                    #progressbar.progress
                        #bar.progress-bar.progress-bar-striped.progress-bar-animated
                    h2#cpt.text-center
                .row.align-content-center
                    - for (var img of images)
                        img.rounded(id=img width="100" height="100" src="/" + seturl + img onclick="IsSelectedImgGood(this,'" + singular + "')")
                .row
                    h3#indice="Your hint is : " + hint
                .row
                    h3#msg
        script(type='application/javascript', src='/js/captcha.js')
        script.
            if(window.top.document.getElementById("btnsbmit"))
                console.log("Ok");
        include includes/footer.pug