head
    include includes/header.pug
body
    .container-fluid
        // This is a sample page
        // You need either a btn with id="btnsbmit" to submit
        // Or you could just give id="myform" to your form to how the capchat to submit it
        form#myform(method="post" action="#")
            .form-group
                input#login.form-control.form-control-user(name='login' type='text', placeholder='Enter your login' required)
            .form-group
                input#pass.form-control.form-control-user(name='pass' type='password', placeholder='Enter your Password' required)
            .form-group
                div#capchat.container-fluid
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='/embed/' + setname, allowfullscreen='')
        include includes/footer.pug