doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Success after Captchat
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/html', media='screen', href='main.css')
        link(href='style.css', type='text/css', rel='stylesheet')
    body
        h1 You've successfully responded to the capchat
        br
        a(href='/') Retour
