doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Projet CapChat 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/html', media='screen', href='main.css')
        link(href='style.css', type='text/html', rel='stylesheet')
    body#body
        #progressbar
            #bar
        p#cpt
        p#msg
        p#indice
